:root {
    --primary-red: rgb(255, 0, 0);
    --just-red: rgb(190, 46, 46); 
}

a:hover{
    color:red;
    background-color: rgb(29, 250, 29);
}

a{
    color:var(--just-red);
    text-decoration: none;
    background-color: rgba(211, 211, 93, 0.2);
    padding: 20px 10px 20px 10px;
    margin-left: 50px;
}
/* This is a comment */


#heading1{
    color: green
    background-color aquamarine;
}

.text-pink{
    color: rgb(196, 143, 152);
}

.text-bacground-yellow{
    background-color: yellow;
}

body{ 
    background-image: url(../assets/img/pic.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    color: orange

}

h1{
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 900;

}



.text-para{
    font-size: 1.8rem;
    text-align: left;
    text-align-last: right;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-transform: capitalize;
    white-space: nowrap
}



@media (max-width: 576px) {
    body {
        background-color: lightblue;
    }

}